/*me*/

#root {
    height: 100%;
    width: 100%;
}

.me-layout {
    height: 100%;
}

.me-header {
    color: #fff;
    height: 48px;
    line-height: 48px;
    padding: 0;
    background-color: #E9E9E9;
    border-bottom: 1px solid rgba(34,36,38,.15);
}
.ant-btn{
    padding: 4px 8px;
}
.me-header .logo {
    float: left;
    height: 48px;
    width: 48px;
    padding: 8px;
}

.me-header .ant-menu {
    float: left;
    background-color: #E9E9E9;
}
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
    border-bottom: 1px solid rgba(34,36,38,.15);
}
.me-header .buttons {
    float: left;
}

.buttons button {
    margin-left: 8px;
}

.me-left-bar {
    min-height: 100%;
    width: 48px;
    color: white;
    background: #666;
}

.me-left-bar button {
    margin-left: 8px;
    margin-top: 8px;
}

.me-canvas {
    min-height: 100%;
    background: #f8f8f8;
    width: 70%;
    border-right: 2px solid rgba(34,36,38,.15);
}

.me-right-bar {
    min-height: 100%;
    background: #f8f8f8;
    width: 30%;
}

/*react-split-pane*/

.Resizer {
    background: #000;
    opacity: 0.2;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.disabled {
    cursor: not-allowed;
}

.Resizer.disabled:hover {
    border-color: transparent;
}

#myCanvas {
    width: 97%;
    height: 99%;
    padding: 0px;
    margin-left: 0px;
}

.under-bottonbox{
    position: relative;
}

.under-botton{
    position: absolute;
    display: flex;
    bottom: 10px;
    left: 88%;
}

.edit{
    cursor:se-resize
}
.move{
    cursor:move
}
.rotate{
    cursor:ne-resize
}

